body{
    font-style: italic;
}
.main{
    width: 60%;
    margin: 0px auto;
    border: 1px solid blue;
    padding: 20px;
    background-color: burlywood;
}
h2{
    margin-top: 0px;
    color: darkmagenta;
}
.encabezado{
    background-color: darkred;
    padding: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    box-shadow: 0px 10px 20px black;
    color: burlywood;
}
h3{
    color: crimson;
}